<div ng-controller="logincabinaController as loginCabina">
	<md-content>
		<h2 class="text-center">--{{loginCabina.seleccionActual}}--</h2>
		<md-content
				class="md-padding text-center"
				layout="row"
				layout-align="center">
			<span>--{{loginCabina.cedula}}--</span>
			<md-input-container>
				<label>Cedula</label>
				<input ng-model="loginCabina.cedula" ng-click="loginCabina.onTouch()">

			</md-input-container>

		</md-content>
		<md-button class="text-center" type="submit" ng-click="loginCabina.onIngresar()">Ingresar</md-button>
	</md-content>
</div>